<ng-container>
  <div class="columns-2"></div>

  <app-nav-bar />

  <div class="hero min-h-screen">
    <div class="hero-content flex-col md:flex-row">
      <img
        src="https://res.cloudinary.com/dnxrdpzkj/image/upload/f_auto,q_auto/zwigfqz2yeyim1v9rk4q?_a=BAMAH2Xw0"
        class="max-w-sm max-h-[384px] rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold">Hi! I'm Ao Nguyen Web Developer</h1>
        <p class="py-6">
          Experienced as Frontend Web Development, Frontend Developer with 3+
          years’ experience in Software Development on Web.
        </p>
        <button class="btn btn-primary">View works</button>
      </div>
    </div>
  </div>

  <div class="hero bg-base-200 min-h-screen rounded-3xl max-w-5xl m-auto">
    <div class="hero-content text-center">
      <div class="max-w-4xl">
        <h1 class="text-5xl font-bold">Skills</h1>
        <div class="flex flex-col gap-2 p-6">
          <div class="text-xs uppercase font-semibold opacity-60 text-left">
            Programming Languages
          </div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-dash badge-primary">ReactJS</div>
            <div class="badge badge-dash badge-secondary">Angular</div>
            <div class="badge badge-dash badge-accent">VueJS</div>
            <div class="badge badge-dash badge-neutral">NodeJS</div>
            <div class="badge badge-dash badge-info">TypeScript</div>
            <div class="badge badge-dash badge-success">JavaScript</div>
          </div>
        </div>

        <div class="flex flex-col gap-2 p-6">
          <div class="text-xs uppercase font-semibold opacity-60 text-left">
            Web Layout Design and Implementation
          </div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-dash badge-primary">TailwindCSS</div>
          </div>
        </div>

        <div class="flex flex-col gap-2 p-6">
          <div class="text-xs uppercase font-semibold opacity-60 text-left">
            RESTful APIs and Libraries
          </div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-dash badge-primary">Redux Saga</div>
            <div class="badge badge-dash badge-secondary">Redux Thunk</div>
            <div class="badge badge-dash badge-accent">Ngrx</div>
            <div class="badge badge-dash badge-neutral">RxJS</div>
          </div>
        </div>

        <div class="flex flex-col gap-2 p-6">
          <div class="text-xs uppercase font-semibold opacity-60 text-left">
            Project Management Software and Tools
          </div>
          <div class="flex flex-wrap gap-2">
            <div class="badge badge-dash badge-primary">Github</div>
            <div class="badge badge-dash badge-secondary">Jenkin</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-5xl">
        <h1 class="text-5xl font-bold">Working experience highlights</h1>

        <div class="grid sm:grid-cols-2 md:grid-cols-4 grid-cols-1 gap-4 p-6">
          <div class="card bg-primary card-sm shadow-sm">
            <div class="card-body text-left">
              <h2 class="card-title">
                IIJ Global Solutions Vietnam Company Limited, FPT Software
              </h2>
              <span class="badge badge-xs badge-secondary"
                >Project: IGP_MYPORTAL_ETF
              </span>
              <p>
                Develop website MyPortal of IIJ Global Portal systemProject
                treat as bodyshop, Customer Task directive, Review,
                Progress/quality
              </p>
            </div>
          </div>

          <div class="card lg:card-side bg-primary card-sm shadow-sm">
            <div class="card-body text-left">
              <h2 class="card-title">MCOR Co., Ltd, FPT Software</h2>
              <span class="badge badge-xs badge-secondary"
                >Project: MLOGI
              </span>
              <p>
                Restructure the Package Management System to replace platforms
                which are old and no longer supported.
              </p>
            </div>
          </div>

          <div class="card lg:card-side bg-primary card-sm shadow-sm">
            <div class="card-body text-left">
              <h2 class="card-title">
                OKI Electric Industry Co., Ltd, FPT Software
              </h2>
              <span class="badge badge-xs badge-secondary"
                >Project: AIRPASS
              </span>
              <p>Develop Airport staff site booking system</p>
            </div>
          </div>

          <div class="card lg:card-side bg-primary card-sm shadow-sm">
            <div class="card-body text-left">
              <h2 class="card-title">
                Shinhan Data System Co. Ltd., FPT Software
              </h2>
              <span class="badge badge-xs badge-secondary"
                >Project: DFS.FlexToHTML
              </span>
              <p>
                Migrate source code for Shinhan bank from Flex system to HTML5
                system
              </p>
            </div>
          </div>

          <div class="card lg:card-side bg-primary card-sm shadow-sm">
            <div class="card-body text-left">
              <h2 class="card-title">
                Mitsubishi FUSO TRUCK&BUS CORP, FPT Software
              </h2>
              <span class="badge badge-xs badge-secondary"
                >Project: TruckOnnect
              </span>
              <p>
                Responsive Web App: convert the system from current CSS
                frameword to Tailwind framework to meet the frame layout/image
                display on mobile devices, fixing problem happen relate
                Javascript when convert.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
